@tailwind base;
@tailwind components;
@tailwind utilities;

.max-h-header {
  max-height: calc(100vh - 7rem);
}

::-webkit-scrollbar {
  width: 0.75rem;
}

::-webkit-scrollbar-track {
  background-color: rgb(14 116 144 / var(--tw-bg-opacity));
}

::-webkit-scrollbar-thumb {
  background-color: rgb(203 213 225 / var(--tw-text-opacity));
  border-radius: 1rem;
}